@font-face {
  font-display: fallback;
  font-family: Sana Sans;
  font-style: normal;
  font-weight: 400;
  src: url(./SanaSansAlt-Regular.woff2) format("woff2");
}
@font-face {
  font-display: fallback;
  font-family: Sana Sans;
  font-style: italic;
  font-weight: 400;
  src: url(./SanaSansAlt-Italic.woff2) format("woff2");
}
@font-face {
  font-display: fallback;
  font-family: Sana Sans;
  font-style: normal;
  font-weight: 500;
  src: url(./SanaSansAlt-Medium.woff2) format("woff2");
}
@font-face {
  font-display: fallback;
  font-family: Sana Sans;
  font-style: normal;
  font-weight: 700;
  src: url(./SanaSansAlt-Bold.woff2) format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: Sana Sans;
  font-style: normal;
  font-weight: 900;
  src: url(./SanaSansAlt-Black.woff2) format("woff2");
}
